$d1: #2f342c;
// palette
$p1: #d0d7d9;//white
$p2: #232921;//brown
$p3: #7a746f;//brick
$p4: #94a9ae;//grayish
$p5: #555047;//brick
$p6: #8a97a0;//slate
$p7: #5c7169;//brick
$p8: #576067;//dark-grayish
$p9: #c34a75;//pink
$p10: lighten($p1, 10%);
