@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

@import "init";
body {
    padding-top: 40px;
    @include outer-container;
    background: #fefefe;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $d1;
}
.div1 {
  @include outer-container;
}

