<!doctype html>
<html class="no-js" ng-app="mainApp">
    <head>
        <meta charset="utf-8">
        <title>freon</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <div ng-controller="MainController">
            <input type="button" ng-click="getAsyncMessage()" value="Get me an async message">
            <input type="button" ng-click="cancelRequested=true" value="Cancel Fetching Message"><br>
            <p>Promise status: <strong>{{status}}</strong></p>
        </div>

        <div ng-controller="WeatherController">
            City: <input type="text" ng-model="city" placeholder="Enter city name"><br>
            Country: <input type="text" ng-model="country" placeholder="Enter country name"><br>
            <button ng-click="getWeather()">Get Weather</button>
            <br><br><strong>Weather condition: <span>{{weatherDescription}}</span></strong>
            <img ng-src="http://openweathermap.org/img/w/{{weatherIcon}}.png" alt=""><br><br>
        </div>

        <div ng-controller="IPController" class="container">
            <button ng-click="getIp()">Get IP</button>
            <br><br><strong>IP Address: <span>{{ipAddress}}</span></strong><br>
            <strong>Coordinates: <span>{{latitude}}</span>, <span>{{longitude}}</span></strong>
        </div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/require.js" data-main="scripts/requireConfig"></script>
        <!-- endbuild -->
</body>
</html>
